<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">
            {{formtitle}}
        </h3>
    </div> 
    <div class="box-body">
        <h4>Data After Change</h4>
        <table id="{{idTable1}}"></table>
        <div id="pager{{idTable1}}"></div>

        <hr/>

        <h4>Data Before Change</h4>
        <table id="{{idTable2}}"></table>
        <div id="pager{{idTable2}}"></div>
    </div>	 
</div>