<div class="box box-default"> 
	<div class="box-header with-border">
		<h3 class="box-title">{{formtitle}}</h3>
	</div>
	<div class="box-body">  
		<div class="row">
			{{notification}}
			<div class="col-md-6">
				{{form1}}
			</div>
		</div>
	</div> 

<!-- /.box-body -->
</div>